<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6">
      <a class="navbar-brand" href="index.html">
        <img src="{{ site.baseurl }}/img/new_logo.png" alt="Logo">
      </a>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-6">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/galleria">Galleria</a></li>
                <li><a href="{{ site.baseurl }}/eventi">Eventi</a></li>
                <!--<li><a href="#">Service</a></li>-->
                <li><a href="{{ site.baseurl }}/contatti">Contatti</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  <div class="row visible-xs-block">
    <div class="col-xs-12">
      <hr/>
    </div>
  </div>
  <div class="row visible-xs-block">
    <div class="col-xs-12">
    <ul class="address-block" style="position: relative;margin-right: 18%;margin-left: 18%;">
      <li>
        <i class="fa fa-map-marker"></i>Via Falzarego 66, Fiumicino RM
      </li>
      <li>
        <i class="fa fa-phone"></i> +39 340 6782919
      </li>
    </ul>
    </div>
  </div>
  </div>
</header><!-- header close -->
