<!DOCTYPE html>
<html class="no-js">
<head>

    {% include head.html %}

    <meta name="description" content="Qui al Pequod siamo attenti alle esigenze ed ai gusti della nostra clientela. Proponiamo una cucina le cui caratteristiche principali sono il risultato di una filosofia gestionale semplice ma curata nei minimi dettagli: ingredienti genuini e freschi, porzioni giuste, tempi rapidi di cottura, prezzi contenuti alla portata di qualunque tasca. Al lato del ristorante, la grande isola, oltre al forno a legna, ospita la cucina che si affaccia sul locale, per lasciarvi sbirciare il lavoro dei nostri cuochi.">

</head>
<body>


{% include header.html %}


{{ content }}









{% include footer.html %}

</body>
</html>
